# ============================================================
#Group Manager Bot
# Author: GODFATHER (https://t.me/friends_chatting_circle_pro) 
# Support: https://t.me/friends_chatting_circle_pro
# Channel: https://t.me/friends_chatting_circle_pro
# YouTube: https://t.me/friends_chatting_circle_pro
# License: Open-source (keep credits, no resale)
# ============================================================
pyrogram==2.0.106
tgcrypto==1.2.5
motor==3.1.1
pymongo[srv]==4.6.3

